.header {
  height: 100px;
  color: #6e6e6e;
}

.menu {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.menuH1 {
  font-size: 20px;
}

.filter {
  display: flex;
  height: 100%;
  align-items: center;
}

.filterItem {
  padding-right: 30px;
}

.filterBtnIcon {
  font-size: 20px;
  cursor: pointer;
}

.filterBtnIcon:hover {
  color: #005ea7;
}

.filterBtn {
  border: 0;
  background: transparent;
  color: #33a8ff;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.filterBtn:hover {
  color: #005ea7;
}

.menuBtn {
  border: 1px solid #33a8ff;
  border-radius: 3px;
  color: #33a8ff;
  background: white;
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

.menuBtn:hover {
  border: 1px solid #005ea7;
  color: #005ea7;
}
