.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto auto;
  justify-content: center;
}

.item {
  position: relative;
  border-radius: 3px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.33);
  max-width: 480px;
}

.image {
  max-width: 100%;
  display: block;
  height: auto;
}

.info,
.infoChecked {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 3px;
  background: linear-gradient(
    rgba(59, 173, 253, 0.8) 0%,
    rgba(2, 67, 113, 0.8) 100%
  );
  color: white;
  padding: 15px;
}

.info {
  opacity: 0;
}

.info:hover {
  opacity: 1;
}

.infoChecked {
  justify-content: start;
  opacity: 1;
}

.infoData {
  padding: 0 0 20px 20px;
}

.checkboxBtn {
  border: 0;
  padding: 0;
  color: white;
  background: transparent;
  cursor: pointer;
  font-size: 20px;
  outline: none;
}

.infoDataTitle {
  display: inline-block;
  min-width: 160px;
}

.infoMenu {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
}

.infoMenuBtn {
  border: 2px solid white;
  border-radius: 3px;
  color: white;
  background: transparent;
  padding: 7px 30px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

.infoMenuBtnsBlock {
  display: flex;
  justify-content: space-around;
  min-width: 130px;
}

.infoMenuBtnIcon {
  font-size: 20px;
  cursor: pointer;
}

.infoMenuBtn:hover,
.infoMenuBtnIcon:hover,
.checkboxBtn:hover {
  opacity: 0.7;
}

@media (max-width: 1000px) {
  .wrapper {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 600px) {
  .wrapper {
    grid-template-columns: auto;
  }
}
