.wrapper {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: auto auto auto;
}

.item {
  position: relative;
  border: 1px solid lightgray;
  box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.33);
}

.signature {
}

.image {
  max-width: 100%;
  display: block;
  height: auto;
}

.info,
.infoChecked {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(65, 0, 253, 0.33);
  height: 100%;
}

.info {
  opacity: 0;
}

.info:hover {
  opacity: 1;
}

.infoChecked {
  opacity: 1;
}

@media (max-width: 1000px) {
  .wrapper {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 600px) {
  .wrapper {
    grid-template-columns: auto;
  }
}
